<div class="repo p-2 text-center">
  <h3 style="margin-bottom: 15px; font-size: 1.3rem;">Mes trophées GitHub</h3>
  <a href="https://github.com/{{ include.username }}">
    <!-- Version Desktop -->
    <span class="d-none d-md-block">
      <img
        class="only-light w-100"
        alt="{{ include.username }}"
        style="max-width: 100%; height: auto; margin-bottom: 10px;"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=10&margin-h=8&no-frame=true&rank=SSS,SS,S,AAA,AA,A,B,C&column=4&row=2"
      >
      <img
        class="only-dark w-100"
        alt="{{ include.username }}"
        style="max-width: 100%; height: auto; margin-bottom: 10px;"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_dark }}&locale={{ site.lang }}&margin-w=10&margin-h=8&no-frame=true&rank=SSS,SS,S,AAA,AA,A,B,C&column=4&row=2"
      >
    </span>

    <!-- Version Mobile -->
    <span class="d-block d-md-none">
      <img
        class="only-light w-100"
        alt="{{ include.username }}"
        style="max-width: 100%; height: auto; margin-bottom: 10px;"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=8&margin-h=6&no-frame=true&rank=SSS,SS,S,AAA,AA,A,B,C&column=3&row=3"
      >
      <img
        class="only-dark w-100"
        alt="{{ include.username }}"
        style="max-width: 100%; height: auto; margin-bottom: 10px;"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_dark }}&locale={{ site.lang }}&margin-w=8&margin-h=6&no-frame=true&rank=SSS,SS,S,AAA,AA,A,B,C&column=3&row=3"
      >
    </span>
  </a>
</div>
